:root {
  --bg-primary: #1c1c1c;
  --bg-secondary: #0084ff;
  --bg-white: #fff;

  --bg-color-button: #1c1c1c;
  --bg-color-input: #0084ff;
  --text-color-button: #ffff;
  --shadow: 0px 0px 4px #1c1c1c62;
  --rounded: 8px;
  --text-size: 12px;
  --text-color: #fff;

  --text-error: #eb3434;
  --bg-error: #ff9e9ec7;
}

.typography {
  color: var(--text-color);
}

.text-light {
  --text-color: #fff;
}
.text-dark {
  --text-color: #1c1c1c;
}

.text-mx {
  --text-size: 12px;
}
.text-sm {
  --text-size: 14px;
}
.text-md {
  --text-size: 16px;
}
.text-lg {
  --text-size: 18px;
}
.text-xl {
  --text-size: 22px;
}
.text-2xl {
  --text-size: 26px;
}
.text-3xl {
  --text-size: 30px;
}
.text-4xl {
  --text-size: 34px;
}
.text-body {
  --text-size: 38px;
}

.container-input-size-full {
  width: 100%;
}
.container-input-size-lg {
  width: 70%;
}
.container-input-size-md {
  width: 50%;
}
.container-input-size-sm {
  width: 40%;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px 0px;
}

.input {
  --text-color: #1c1c1c;
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  margin: 10px;
  background-color: transparent;
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: 500;
  border-radius: 8px;
  outline-offset: 3px;
  outline: 1px solid #92b8ff;
  transition: all ease-in-out 200ms;

  &::placeholder {
    font-weight: 200;
  }

  &:focus {
    outline-color: var(--bg-color-input);
    outline-offset: 5px;
  }
}

.button {
  border: none;
  border-radius: var(--rounded);
  text-transform: uppercase;
  display: flex;
  background-color: var(--bg-color-button);
  align-items: center;
  justify-content: center;
  font-size: var(--text-lg);
  color: var(--text-color-button);
  font-weight: 500;
  text-shadow: 0px 0px 2px #1c1c1c51;
  box-shadow: var(--shadow);
  transition: 200ms all ease-in-out;
  cursor: pointer;
}

.container-list {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px 0px;
}

.size-md {
  width: 120px;
  height: 40px;
  padding: 5px;
}
.size-lg {
  width: 180px;
  height: 40px;
  padding: 5px;
}
.size-sm {
  width: 90px;
  height: 40px;
  padding: 5px;
}
.size-micro {
  width: 70px;
  height: 40px;
  padding: 5px;
}
.size-icon {
  width: auto;
  height: auto;
  padding: 5px 10px;

  & svg {
    fill: var(--bg-primary);
    width: 18px;
    height: 18px;
  }
}

.bg-primary {
  --bg-color-button: var(--bg-secondary);
  &:hover {
    background-color: #108cff;
    scale: 1.03;
  }
}
.bg-secondary {
  --bg-color-button: #0ed554;
  &:hover {
    background-color: #2cf773;
    scale: 1.03;
  }
}
.bg-error {
  --bg-color-button: #ff3d3d;
  &:hover {
    background-color: #ff5959;
    scale: 1.03;
  }
}

.card {
  --text-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px 0px;
  padding: 15px;
  border-radius: 8px;
  background-color: #e8e8e8;
  color: var(--text-color);

  & p {
    opacity: 0.7;
    width: 65%;
    text-align: center;
    font-size: 16px;
  }

  & h4 {
    font-size: 18px;
    font-weight: bold;
  }

  & .card-info {
    --text-color: #1c1c1c;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 5px;

    & strong {
      font-size: 22px;
      font-weight: bold;
      color: var(--bg-secondary);
    }

    & svg {
      fill: var(--bg-secondary);
    }
  }
}

.container {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

.nav-container {
  width: auto;
  padding: 5px 15px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 10px;
  backdrop-filter: blue(2px);

  & .button-menu {
    display: none;
  }

  & a {
    --text-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    transition: all ease-in-out 200ms;
    border-radius: 50px;
    &:hover {
      background-color: #24242411;
    }
  }

  & .active {
    background-color: #24242411;
  }
}

.section-container {
  padding: 10px;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.align-center {
  justify-content: center;
}
.align-start {
  justify-content: start;
}
.align-end {
  justify-content: end;
}

.link-button {
  --text-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 15px;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 50px;
  transition: all ease-in-out 200ms;
}

.container-input {
  color: var(--bg-primary);
  display: block;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.card-info-person {
  --text-color: #1c1c1c;
  width: 95%;
  height: auto;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  transition: 300ms all ease-in-out;
  &:hover {
    background-color: #24242411;
  }

  & .card-container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h4 {
      font-size: 14px;
      color: var(--text-color);
    }
    & p {
      font-size: 12px;
      color: var(--text-color);
      opacity: 0.8;
    }
  }
  & .card-container-button {
    display: flex;
    gap: 0px 5px;
  }
}

.form-container {
  width: 65%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  height: auto;
}

.menu-responsive {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  gap: 10px 0px;
  background-color: #ffff;
  justify-content: flex-start;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 18px #1c1c1ca2;

  & .active {
    background-color: #24242411;
  }

  & .button-menu {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: transparent;
    margin-top: 8px;
    color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-primary);
  }

  & a {
    --text-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    transition: all ease-in-out 200ms;
    border-radius: 50px;
    &:hover {
      background-color: #24242411;
    }
  }
}

.menu-active {
  display: flex;
}

@media screen and (max-width: 500px) {
  .form-container {
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
  }

  .container-input {
    width: 100%;
    margin-left: 10px;
    & input {
      width: 100%;
      outline-width: 2px;
    }
  }

  .card-info-person {
    width: 100%;
    background-color: #24242411;
  }

  .size-icon {
    width: auto;
    height: auto;
    padding: 3px 5px;

    & svg {
      fill: var(--bg-primary);
      width: 12px;
      height: 12px;
    }
  }

  .nav-container {
    justify-content: flex-start;
    & a {
      display: none;
    }
    & .button-menu {
      width: auto;
      height: auto;
      border-radius: 5px;
      padding: 5px;
      background-color: transparent;
      margin-top: 8px;
      margin-left: 12px;
      color: var(--bg-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--bg-primary);
    }
  }
}
